<?xml version="1.0"?>
<launch>


  <!-- upload parameters -->

  <rosparam command="load" ns="/logistic_scenario_app/MoveHomePTP" file="$(find logistic_scenario)/config/MoveHomePTP_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/DetectObjects" file="$(find logistic_scenario)/config/DetectObjects_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveObjectPTP" file="$(find logistic_scenario)/config/MoveObjectPTP_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveBaseHome" file="$(find logistic_scenario)/config/MoveBaseHome_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveBaseShelf" file="$(find logistic_scenario)/config/MoveBaseShelf_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinGrasp" file="$(find logistic_scenario)/config/MoveLinGrasp_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinGraspUp" file="$(find logistic_scenario)/config/MoveLinGraspUp_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinGraspBack" file="$(find logistic_scenario)/config/MoveLinGraspBack_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveToRobotDeck" file="$(find logistic_scenario)/config/MoveToRobotDeck_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveToNeutralFront" file="$(find logistic_scenario)/config/MoveToNeutralFront_goal.yaml"/>
  
  <rosparam command="load" ns="/logistic_scenario_app/GetFromRobotDeck" file="$(find logistic_scenario)/config/GetFromRobotDeck_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveBaseDeliver" file="$(find logistic_scenario)/config/MoveBaseDeliver_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinDeliver" file="$(find logistic_scenario)/config/MoveLinDeliver_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinDeliverBack" file="$(find logistic_scenario)/config/MoveLinDeliverBack_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinDeliverDown" file="$(find logistic_scenario)/config/MoveLinDeliverDown_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MoveLinPreNeutral" file="$(find logistic_scenario)/config/MoveLinPreNeutral_goal.yaml"/>
  <rosparam command="load" ns="/logistic_scenario_app/MovePTPDeliver" file="$(find logistic_scenario)/config/MovePTPDeliver_goal.yaml"/>
  
  <node name="logistic_scenario_app" pkg="logistic_scenario" type="logistic_scenario_app" output="screen"/>






</launch>
